.pink-btn{
    color: #ffffff;
    background-color: #fe5757;
    border-radius: 6px;
    border: none;
    padding: 6px;

}

.carousel-padding {
  padding-top: 100px; /* Adjust padding  */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem, 1fr));
  gap: 0.2rem;  }

@media (max-width: 1250px) {
    .overflow-auto {
      flex-wrap: wrap;
    }
    .overflow-auto > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .hori-line{
    color: gray;
  }

  .footer{
    background-color: #fe5757;
  }

  .icons{
    width: 27px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 7px;
    margin-bottom: 10px;
  
  }
  .icons:hover{
    cursor: pointer;
  }

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* SpecialCArd */
.special-card {
  display: flex; /* Make the card horizontal */
  width: fit-content; /* Allow card to adjust width based on content */
  margin: 10px; /* Add some margin between cards */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #fff; /* Set card background color */
}

.card-image {
  width: 100px; /* Set image width */
  height: 100px; /* Set image height */
  object-fit: cover; /* Crop image to fit within container */
  margin-right: 10px;
  border-radius: 50%; /* Add rounded corners */
}


.card-content {
  flex: 1;
  padding: 10px;
}

/* SpecialCArd */